{% extends "_staticpage.html" %}

{%hyde
    title: "Me"
%}

{% block article %}
    Hello, I'm a printer, publisher, and programmer in Cambridge, Massachusetts. I studied computer science at Harvard. I'm interested in good code, printing, radios, tree frogs, and more besides. I'm a student in Leah Buechley's <a href="http://hlt.media.mit.edu">High-Low Tech"</a>Research Group at the <a href="http://media.mit.edu">MIT Media Lab</a>. 

This is a portrait of me. I don't look like that at all.
<div class="gallery">
    <img src="{{ site.url }}/media/images/about/portrait.jpg" />
</div>
{% endblock %}
