{% extends "_staticpage.html" %}

{%hyde
    title: "Me"
%}

{% block article %}
Hello, I'm a printer, publisher, and programmer in Cambridge, Massachusetts. I studied computer science at Harvard. I'm interested in good code, book arts, and more besides. I made this portfolio for the MIT Media Lab application. A very special hello if you're visiting from there.

This is a portrait of me that I engraved. I don't look like that at all.
<div class="gallery">
    <img src="{{ site.url }}/media/images/about/portrait.jpg" />
</div>
{% endblock %}
