{% extends "_post.html" %}

{% hyde
    title: A Typographical Game
    summary: "A Monotype game to train one in the classic bookfaces."
    categories: 
        - computers
%}

{% block article %}
Wearied by my own woefully inadequate ability to spot the difference between say a Bembo 'I' and a Dante 'I', both Renaissance-Humanist typefaces, I devised this [little game](http://shackmanpress.com/typefaces) to train myself.

Here's a picture, but you can play for yourself.
<div class="gallery">
     <a href="http://shackmanpress.com/typefaces/">
         <img src="{{ site.url }}/media/images/computers/{{ page.page_name }}/game-1.jpg" />
     </a>
 </div>
{% endblock %}

