{% extends "_post.html" %}

{% hyde
    author:
    title: A Desk That I Made
    summary: "A home-brewed desk for desk-related purposes."
    categories: 
        - building
%}

{% block article %}
One week at summer's end, I decided I should have desk. No glue. No screws. One piece of 4 &times; 8&#8242; birch-veneered plywood. It's kept tense by the tight-fitting angled notches that hold the boards together--though the cables in the back don't hurt.
<div class="gallery">
         <img src="{{ site.url }}/media/images/building/{{ page.page_name }}/desk-1.jpg" />
         <img src="{{ site.url }}/media/images/building/{{ page.page_name }}/desk-2.jpg" />
         <img src="{{ site.url }}/media/images/building/{{ page.page_name }}/desk-3.jpg" />
</div>
{% endblock %}

